In [29]:
import pandas as pd
import shapefile
import os


def shapefile_to_dataframe(file_name):
    # Load the shapefile
    sf = shapefile.Reader(file_name)

    # Get the fields and records
    fields = [field[0] for field in sf.fields[1:]]  # Exclude the DeletionFlag field
    records = sf.records()

    # Create a list to store all the records
    all_records = []

    # Iterate through the records and append them to the list
    for record in records:
        all_records.append(dict(zip(fields, record)))

    # Create a DataFrame from the list of records
    df = pd.DataFrame(all_records)

    return df

In [30]:
# file_name = "/Users/melek/Downloads/tl_2023_06_bg.zip"
# df = shapefile_to_dataframe(file_name)
# display(df)

In [31]:
folder_path = "/Users/melek/Desktop/Research/Research_Winter_2024/BG_shapefiles"

# Get a list of all shapefiles in the folder
shapefiles = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.zip')]

# Create an empty DataFrame to store all the data
combined_df = pd.DataFrame()

# Iterate through each shapefile, convert to DataFrame, and concatenate
for shapefile_path in shapefiles:
    df = shapefile_to_dataframe(shapefile_path)
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# Display the combined DataFrame
display(combined_df)

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,GEOIDFQ,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON
0,06,025,940000,3,060259400003,1500000US060259400003,Block Group 3,G5030,S,12261656,685451,+32.7424027,-114.6675664
1,06,025,010800,2,060250108002,1500000US060250108002,Block Group 2,G5030,S,59355860,0,+32.7658709,-115.3923999
2,06,025,010800,1,060250108001,1500000US060250108001,Block Group 1,G5030,S,230625025,0,+32.8363507,-115.3514036
3,06,025,011100,3,060250111003,1500000US060250111003,Block Group 3,G5030,S,1159586,0,+32.7932927,-115.6905731
4,06,073,010013,2,060730100132,1500000US060730100132,Block Group 2,G5030,S,269440,0,+32.5536152,-117.0429162
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35308,32,017,950100,3,320179501003,1500000US320179501003,Block Group 3,G5030,S,4246366074,46987,+38.1297105,-114.7465045
35309,32,031,002304,3,320310023043,1500000US320310023043,Block Group 3,G5030,S,2685339,0,+39.5294306,-119.9301427
35310,32,031,001010,3,320310010103,1500000US320310010103,Block Group 3,G5030,S,620634,0,+39.4031921,-119.7521911
35311,32,031,001016,2,320310010162,1500000US320310010162,Block Group 2,G5030,S,372844,0,+39.5005115,-119.8026083
35312,32,031,003311,1,320310033111,1500000US320310033111,Block Group 1,G5030,S,1196618,0,+39.2648751,-119.9489625

In [32]:
combined_df.to_csv('/Users/melek/Desktop/Research/Research_Winter_2024/BG_CA_AR_OR_NV.csv')

In [34]:
folder_path = "/Users/melek/Downloads/tl_2023_us_zcta520.zip"
df = shapefile_to_dataframe(folder_path)

# Display the combined DataFrame
display(df)

,ZCTA5CE20,GEOID20,GEOIDFQ20,CLASSFP20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20
0,47236,47236,860Z200US47236,B5,G6350,S,1029063,0,+39.1517426,-085.7252769
1,47870,47870,860Z200US47870,B5,G6350,S,8830,0,+39.3701518,-087.4735141
2,47851,47851,860Z200US47851,B5,G6350,S,53326,0,+39.5735839,-087.2459559
3,47337,47337,860Z200US47337,B5,G6350,S,303089,0,+39.8027537,-085.4372850
4,47435,47435,860Z200US47435,B5,G6350,S,13302,0,+39.2657557,-086.2951577
...,...,...,...,...,...,...,...,...,...,...
33786,37932,37932,860Z200US37932,B5,G6350,S,75093217,4374995,+35.9172993,-084.1987873
33787,37341,37341,860Z200US37341,B5,G6350,S,87434962,27139990,+35.2199309,-085.0730025
33788,37849,37849,860Z200US37849,B5,G6350,S,102931713,896866,+36.0540502,-084.0484876
33789,37754,37754,860Z200US37754,B5,G6350,S,99003113,145391,+36.1390993,-084.0298007
33790,37806,37806,860Z200US37806,B5,G6350,S,47070398,1626139,+36.0846931,-083.7279865